<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Pokémon</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        /* Corps de la page */
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f0f8ff;
            color: #333;
            margin: 20px;
            padding: 20px;
        }

        /* Titre principal */
        h1 {
            text-align: center;
            font-size: 2.5em;
            color: #4CAF50;
            margin-bottom: 20px;
        }

        /* Style des boutons */
        button {
            background-color: #4CAF50;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        button:hover {
            background-color: #45a049;
        }

        /* Style des champs input */
        input[type="text"], input[type="number"], input[type="email"], input[type="password"] {
            width: 100%;
            padding: 12px 20px;
            margin: 10px 0;
            border: 1px solid #ddd;
            border-radius: 5px;
            font-size: 1em;
            background-color: #fff;
            color: #333;
            transition: border-color 0.3s ease, box-shadow 0.3s ease;
        }

        input[type="text"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="password"]:focus {
            border-color: #4CAF50;
            box-shadow: 0 0 8px rgba(76, 175, 80, 0.4); /* effet de surbrillance lors du focus */
            outline: none; /* enlever le contour par défaut du focus */
        }

        /* Style des labels */
        label {
            font-size: 1.1em;
            color: #333;
            margin-bottom: 5px;
            display: inline-block;
        }

        /* Conteneur du formulaire pour l'alignement et l'espacement */
        form {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        /* Erreur de formulaire */
        .error {
            color: red;
            font-weight: bold;
            text-align: center;
            margin-top: 20px;
        }


    </style>
</head>
<body>
<h1>Create a New Pokémon</h1>
<form action="/create" method="POST">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required><br>

    <label for="type">Type:</label>
    <input type="text" id="type" name="type" required><br>

    <button type="submit">Add Pokémon</button>
</form>
</body>
</html>
